<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>User List</h1>

<div>
    <nobr>
        <a th:href="@{/main/newUSer}">Add User</a> |
        <a th:href="@{/main/welcomePage}">Back to home</a>
    </nobr>
</div>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>username</th>
            <th>Owner</th>
            <th>Edit</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td><a th:href="@{/user/get/{userId}(userId=${user.userId})}" th:utext="${user.userId}">...</a></td>
            <td><a th:href="@{/user/get/{userId}(userId=${user.userId})}" th:utext="${user.userId}">...</a></td>
            <td th:utext="${user.getOwner().toString()}">...</td>
<!--            <td><a th:href="@{/contacts/{contactId}/edit(contactId=${contact.id})}">Edit</a></td>-->
        </tr>
    </table>
</div>
<br/><br/>
</body>
</html>