<!DOCTYPE html>
<html  lang="es" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>homepage</title>
</head>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<body>
<div sec:authorize="isAuthenticated()">
    Welcome <b><span sec:authentication="name">Username</span></b>
    &nbsp;
    <i><span sec:authentication="principal.authorities">Roles</span></i>
</div>
</body>
</html>